<html lang="En">
<head>
    <title>NAME</title>
</head>
<body>
<div>
    <h1>H1 Text</h1>
    <p>base page text</p>
    <a href="https://example.com" target="_blank">Перейти на сайт</a>

    <img src="https://img.freepik.com/premium-photo/close-up-portrait-cat_1048944-3130522.jpg?semt=ais_hybrid&w=740"
         alt="test" style="width: 250px">
    <ul>
        <li>t 1</li>
        <li>t 2</li>
    </ul>
    <ol>
        <li>f t</li>
        <li>t t</li>
    </ol>
    <input type="text" placeholder="name button">
    <textarea type="text" placeholder="name button"> </textarea>

    <button type="submit">Send</button>

    <form action="/submit" method="POST">
        <input required type="text" name="username">
        <input type="email" name="email">
        <input type="password" name="password">
        <button type="submit">Send</button>
    </form>
    <table>
        <thead></thead>
        <tbody>
        <tr>
            <td>123</td>
            <td>456</td>
        </tr>
        </tbody>
    </table>
    <span style="color: red;">Красный текст</span>
</div>
</body>
</html>